/* ===== Primary Styles ========================================================
   Author: Ido Green
   plus.ly/greenido
   @greenido

   ========================================================================== */

.hero-unit {
  padding-top: 1em;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 0.5em;
}

.rgRow {
  height: 4em;
}

.btn-large {
  margin-top: 0.5em;
  margin-left: 0.8em;
  margin-right: 0.3em;
}

#plusone {
  padding-top: 7px;
}

.x-but {
  margin-left: 1em;
}

.sml-font {
  font-size: 80%;
}

.logo-img {
  float:left;
  display:inline;
  padding: 2px;
}

#airhtml {
  background: lightcyan;
  padding: 0.5em;
  border-radius: 15px;
  
}





